<!--
    
 @Name：不落阁整站模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{{ websiteinfo.title }}--{{ websiteinfo.info }}</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <!--Layui-->
    <link href="/static/plug/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="/static/plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="/static/css/global.css" rel="stylesheet" />
    <!--本页样式表-->
    <link href="/static/css/article.css" rel="stylesheet" />
</head>
<body>
{% csrf_token %}
    <!-- 导航 -->
    {% include 'welcome/nav.html' %}
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="/" title="网站首页">网站首页</a>
                <a><cite>文章专栏</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main-left">
                    <div class="article shadow" style="padding:15px 4px">
                        {% for ad in ads %}
                            {% if ad.position == 'top' %}
                                {% autoescape off %}
                                    {{ ad.content }}
                                {% endautoescape %}

                            {% endif %}
                        {% endfor %}
                    </div>
                        {% autoescape off %}

                        {% if search %}
                            <div class="shadow" style="text-align:center;font-size:16px;padding:40px 15px;background:#fff;margin-bottom:15px;">
                            {{ search }}
                            </div>
                        {% endif %}

                        {% endautoescape %}
                    {% for article in art_like %}<!--搜索的文章-->
                        <div class="article shadow">
                            <div class="article-left">
                                <img src="{{ article.webimg }}" alt="{{ article.title }}" />
                            </div>
                            <div class="article-right">
                                <div class="article-title">
                                    <a href="/detail/{{ article.id }}.html">{{ article.title }}</a>
                                </div>
                                <div class="article-abstract">
                                    {{ article.abstract }}
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="article-footer">
                                <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ article.timestamp }}</span>
                                <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;赵彦昌</span>
                                <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{{ article.category.name }}</a></span>
                                <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{ article.pageviews }}</span>
                                <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{ article.relycount }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    {% for article in topart %}<!--顶置文章-->
                        <div class="article shadow">
                            <div class="article-left">
                                <img src="{{ article.webimg }}" alt="{{ article.title }}" />
                            </div>
                            <div class="article-right">
                                <div class="article-title">
                                    <a href="/detail/{{ article.id }}.html">{{ article.title }}</a>
                                </div>
                                <div class="article-abstract">
                                    {{ article.abstract }}
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="article-footer">
                                <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ article.timestamp }}</span>
                                <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;赵彦昌</span>
                                <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{{ article.category.name }}</a></span>
                                <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{ article.pageviews }}</span>
                                <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{ article.relycount }}</span>
                            </div>
                        </div>
                    {% endfor %}

                    {% for article in articles %}
                        <!--普通文章-->
                        <div class="article shadow">
                            <div class="article-left">
                                <img src="{{ article.webimg }}" alt="{{ article.title }}" />
                            </div>
                            <div class="article-right">
                                <div class="article-title">
                                    <a href="/detail/{{ article.id }}.html">{{ article.title }}</a>
                                </div>
                                <div class="article-abstract">
                                    {{ article.abstract }}
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="article-footer">
                                <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ article.timemodify }}</span>
                                <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;赵彦昌</span>
                                <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{{ article.category.name }}</a></span>
                                <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{ article.pageviews }}</span>
                                <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{ article.relycount }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="blog-main-right">
                    <div class="blog-search">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="search-keywords  shadow">
                                    <input type="text" name="keywords" lay-verify="required" placeholder="输入关键词搜索" autocomplete="off" class="layui-input">
                                </div>
                                <div class="search-submit  shadow">
                                    <a class="search-btn" lay-submit="formSearch" lay-filter="formSearch"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="article-category shadow">
                        <div class="article-category-title">分类导航</div>
                        <!-- 点击分类后的页面和artile.html页面一样，只是数据是某一类别的 -->
                        {% for cate in art_cate %}
                            <a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">{{ cate.name }}</a>
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">最新文章评论</div>
                        <ul class="fa-ul blog-module-ul">
                            {% for rely in art_rely %}
                                <li><i class="fa-li fa fa-hand-o-right"></i><a href="/detail/{{ rely.artid.id }}.html#commit_id{{ rely.id }}"> {% autoescape off %} {{ rely.content }} {% endautoescape %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">随便看看</div>
                        <ul class="fa-ul blog-module-ul">
                            {% for art in art_random %}
                               <li><i class="fa-li fa fa-hand-o-right"></i><a href="/detail/{{ art.id }}.html">{{ art.title }}</a></li>
                            {%  endfor %}
                        </ul>
                    </div>
                    <div class=" blog-module shadow">
                          {% for ad in ads %}
                            {% if ad.position == 'right' %}
                                {% autoescape off %}
                                    {{ ad.content }}
                                {% endautoescape %}

                            {% endif %}
                        {% endfor %}
                    </div>
                    <!--右边悬浮 平板或手机设备显示-->
                    <div class="category-toggle"><i class="fa fa-chevron-left"></i></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    {% include 'welcome/footer.html' %}
    <!--侧边导航-->
    {% include 'welcome/left-nav.html' %}
    <!--分享窗体-->
    <div class="blog-share layui-hide">
        <div class="blog-share-body">
            <div style="width: 200px;height:100%;">
                <div class="bdsharebuttonbox">
                    <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                </div>
            </div>
        </div>
    </div>
    <!--遮罩-->
    <div class="blog-mask animated layui-hide"></div>
    <!-- layui.js -->
    <script src="/static/plug/layui/layui.js"></script>
    <!-- 全局脚本 -->
    <script src="/static/js/global.js"></script>

    <script src="/static/js/home.js"></script>
</body>
<script>
    layui.use([ 'layer'], function () {
        var $ = layui.jquery;
        $(".layui-nav").children("li:eq(1)").addClass("layui-this");
    });
</script>
</html>